/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
div[class*="color-"] {
    border: none;
}

.color-1 {
    background: rgb(0, 159, 81);

}
.color-2 {
    background: rgb(243, 214, 68);
}
.color-3 {
    background: rgb(241, 224, 169);
}
.color-4 {
    background: rgb(216, 167, 81);
}
.color-5 {
    background: rgb(215, 100, 54);
}

/* Textures or Patterns*/
.pattern-1 {
    background: url('../img/satinweave.png');
}
.pattern-1:hover {
    cursor: pointer;
}
section.grid-container:nth-child(3):hover:after {
    content: 'Click to toggle on/off';
    padding: 4px 8px;
    color: #333;
    position: absolute;
    left: 0;
    top: 100%;
    white-space: nowrap;
    z-index: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    box-shadow: 0px 0px 4px #222;
    background: rgba(241, 224, 169, .1);

}
.pat-1 {
    background: url('../img/satinweave.png');
}
.pattern-hightlight {
    border: 2px solid red;
}

.pattern-2 {
    background: url('../img/brushed_alu.png');
}
.pattern-2:hover {
    cursor: pointer;
}
.pat-2 {
    background: url('../img/brushed_alu.png');
}

.pattern-3 {
    background: url('../img/brushed_alu_dark.png');
}
.pattern-3:hover {
    cursor: pointer;
}
.pat-3 {
    background: url('../img/brushed_alu_dark.png');
}

/* Imagery */


/* Icons */


/* Navigation */
/* Primary */
section.grid-6:first-child {
    font-family: 'Roboto', sans-serif;
}
section.grid-6:first-child a {
    text-decoration: none;
}
section.grid-6:first-child li {
    display: inline;
    padding-right: 10px;
    font-size: 1.25em;
    font-weight: 700;
}
section.grid-6:first-child ul {
    text-align: right;
}

/* Secondary */
section.grid-6:nth-child(2) {
    font-family: 'Lato', sans-serif;
}


/* Typography */
.grid-3:first-child h2{
     font-family: 'Roboto', sans-serif;
     font-weight: 700;
}
.grid-3:first-child h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.grid-3:first-child p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.grid-3:nth-child(2) h2{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.grid-3:nth-child(2) h3{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
}
.grid-3:nth-child(2) p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

/* Forms */
input {
    border: 1px groove;
}
input:hover {
    background: rgba(241, 224, 169, .3);
}
section.grid-3 button {
    border: none;
    border-radius: 5%;
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: rgba(241, 224, 169, .8);
}
section.grid-3 button:hover {
    opacity: .7;
}

/* Tables */
table {
    font-family: 'Roboto', sans-serif;
}
table tr:first-child {
    font-weight: 700;
    text-align: center;
    background:#666;
    color:#fff;
}
tbody tr {
    background: #fefdfb;
}
tbody tr+tr {
    font-weight: 400;
}
tbody tr+tr:nth-child(even) {
    background: #eee;
}
tbody tr+tr:hover {
    background: rgba(255,255,0,.5);
}
td {
    border: none;
    border-right: 1px solid black;
}
td:last-child {
    border: none;
}
/* Cards */
figure {
    font-family: 'Roboto', sans-serif;
    border-radius: 5%;
    border: 1.4px solid #000;
    background: #fefdfb;
}
figure h2 {
    font-weight: 700;
}
figure h3 {
    font-weight: 500;
    margin-top: 6px;
    margin-bottom: 6px;
}
figure h2 {
    margin-top: 0px;
}
figure h3:nth-child(4) {
    margin-bottom: 12px;
}
figure figcaption {
    font-weight: 400;
}
img[alt="placeholder"] {

}