/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
div[class*="color-"] {
    border: none;
}

.color-1 {
    background: rgb(0, 159, 81);

}
.color-2 {
    background: rgb(243, 214, 68);
}
.color-3 {
    background: rgb(241, 224, 169);
}
.color-4 {
    background: rgb(216, 167, 81);
}
.color-5 {
    background: rgb(215, 100, 54);
}

/* Textures or Patterns*/
.pattern-1 {
    background: url('../img/satinweave.png');
}
.pattern-2 {
    background: url('../img/brushed_alu.png');
}
.pattern-3 {
    background: url('../img/brushed_alu_dark.png');
}

/* Imagery */


/* Icons */


/* Typography */
.grid-3:first-child h2{
     font-family: 'Roboto', sans-serif;
     font-weight: 700;
}
.grid-3:first-child h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.grid-3:first-child p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.grid-3:nth-child(2) h2{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.grid-3:nth-child(2) h3{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
}
.grid-3:nth-child(2) p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

/* Forms */
input {
    border: 1px groove;
}
input:hover {
    background: rgba(241, 224, 169, .3);
}
button {
    border: none;
    border-radius: 5%;
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: rgba(241, 224, 169, .8);
}
button:hover {
    opacity: .7;
}

/* Tables */


/* Cards */
figure {
    font-family: 'Roboto', sans-serif;
    border-radius: 5%;
    border: 1.4px solid #000;
}
figure h2 {
    font-weight: 700;
}
figure h3 {
    font-weight: 500;
    margin-top: 6px;
    margin-bottom: 6px;
}
figure h2 {
    margin-top: 0px;
}
figure h3:nth-child(4) {
    margin-bottom: 12px;
}
figure figcaption {
    font-weight: 400;
}